<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script defer src="/js/user_js.js"></script>
<link rel="stylesheet" href="/css/user_css.css" /> -->

<section class="awards">
    <div class="inner">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/awards_slide1.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/images/awards_slide2.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/images/awards_slide3.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/images/awards_slide4.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/images/awards_slide5.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/images/awards_slide6.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/images/awards_slide7.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="/images/awards_slide8.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<footer>
    <div class="inner">
        <ul class="menu">
            <li><a href="javascript:void(0)">개인정보처리방침</a></li>
            <li><a href="javascript:void(0)">영상정보처리기기 운영</a></li>
            <li><a href="javascript:void(0)">홈페이지 이용약관</a></li>
        </ul>

        <div class="info">
            <p><span>사업자등록번호 305-82-21570</span></p>
            <p><span>(우) 34917 대전광역시 중구 보문로 246 대림빌딩 2~3층, 11층 소상공인시장진흥공단</span></p>
            <p><span>대표전화 : 국번없이 1357</span></p>
        </div>
        <p class="copyright">
            &copy; <span class="this-year">Copyright 2021 SEMAS, All Right Reserved.</span>
        </p>
    </div>
</footer>